<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <ul>
      <li>
        Task 1: Go to
        <a href="https://xeroocode-task.onrender.com/github/login"
          >https://xeroocode-task.onrender.com/github/login</a
        >
        to authenticate with GitHub. You need to run it locally to access this
        route as it used CLIENT_ID of github app
      </li>
      <li>
        Then visit
        <a href="https://xeroocode-task.onrender.com/github/repository_details"
          >https://xeroocode-task.onrender.com/github/repository_details</a
        >
        to view the repository details. use this to view to result
      </li>
      <li>
        Task 2: Visit the cluster endpoint at
        <a href="https://xeroocode-task.onrender.com/api/cluster"
          >https://xeroocode-task.onrender.com/api/cluster</a
        >.
      </li>
    </ul>
  </body>
</html>
